button.btn-media(onclick='btnClicked("play")') play
button.btn-media(onclick='btnClicked("pause")') pause
button.btn-media(onclick='btnClicked("seekbackward")') seekbackward
button.btn-media(onclick='btnClicked("seekforward")') seekforward
button.btn-media(onclick='btnClicked("seekto")') seekto
button.btn-media(onclick='btnClicked("previoustrack")') previoustrack
button.btn-media(onclick='btnClicked("nexttrack")') nexttrack
button.btn-media(onclick='btnClicked("skipad")') skipad
