body {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.cell {
  align-items: center;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 3px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.cell.flag {
  color: red;
  font-size: larger;
}

.cell:hover {
  background-color: #bbb;
}

.cell:not(:empty) {
  user-select: none;
}

.cell.mine {
  background-color: red !important;
}

.cell.revealed {
  background-color: #eee;
}

.cell.flash {
  animation: flash 0.1s;
}

.cell.wave {
  animation: wave .5s ease-in-out;
  animation-delay: calc(var(--row) * 0.01s);
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.no-select {
  user-select: none;
}

@keyframes flash {
  0% { background-color: white; }
  100% { background-color: transparent; }
}

@keyframes wave {
  0% { opacity: 0; transform: translateY(-5px); }
  100% { opacity: 1; transform: translateY(0); }
}

h1 {
  margin: 20px 0;
}

#controls {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding-bottom: 1em;
  width: 300px;
}

#controls button {
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

#controls button:hover {
  background-color: #999;
}

#game-board {
  display: grid;
  gap: 2px;
  user-select: none;
}

#open-settings {
  margin-top: 10px;
}

#settings-menu {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#settings-menu button {
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px;
}

#settings-menu button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#settings-menu form {
  display: flex;
  flex-direction: column;
}

#settings-menu h2 {
  margin-top: 0;
}

#settings-menu label {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
}

#reset-button {
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px;
}

#reset-button:hover {
  background-color: #999;
}

.incorrect-flag span {
  font-size: .6em;
  margin-left: -1.2em;
  margin-top: .9em;
}

#moves-count {
  font-size: 18px;
}